{
    margin: 0;
    padding: 0;
}

body {
    background-color: rgba(196, 177, 177, 0.548);

}

h1 {
    margin-left: 20px;
    margin-top: 20px;
    text-align: center;
    font: normal 50pt Arial;
}

p#inf {
    margin-left: 20px;
    margin-top: 20px;
    text-align: center;
    font: normal 20pt Arial;
    color: rgb(228, 79, 228);
}

#all div {
    margin-left: 20px;
    margin-top: 20px;
    text-align: center;
    font: normal 20px Arial;
}

/*div#altura {
    margin-left: 20px;
    margin-top: 20px;
    text-align: center;
    font: normal 20px Arial;
}*/
input {
    font: normal 20pt Arial;
}

div#status {
    font: normal 30px Arial Black;
}

div#all {
    border: 10px solid;
    width: 40%;
}

div#caixa {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}